@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
header {
  background-color: #fffcf5;
  height: 70px;
  padding: 5px 0;
  border-bottom: 1px solid #c4975f7c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

body {
  font-family: 'Lato', sans-serif;  
  display: flex;
  flex-direction: column;
  background-image: url("../images/background-main.jpg");
  background-size: cover;
  margin: 0;
  padding-top: 80px;
}

main {
  flex: 1;
}

.back-button {
  display: block;
  margin: 1.5rem auto 1.5rem auto; 
  padding: 0.5rem 1rem;
  background-color: #e5e2dc;
  color: #3c270b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; 
  font-size: 1rem;
  width: auto;
  max-width: 200px;
  transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #d7d5d0;
}

h1 {
  font-family: 'Lato', sans-serif;  
  color: #6c4618;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: #6c4618;
  font-size: 1.1rem;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  position: relative;
}

.logo {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.navbar {
  display: none;
  flex-direction: column;
  background-color: #fffcf5;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
  gap: 0.8rem;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.875rem;
  padding: 5px 0 7px 0;
  transition: transform 0.3s, color 0.3s;
}

.navbar a:hover {
  color: rgb(155, 105, 31);
  transform: scale(1.1);
}

.navbar.active {
  display: flex;
}

.icons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.menu-toggle {
  display: block;
  font-size: 24px;
  z-index: 1001;
  cursor: pointer;
  padding: 5px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

#home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-page {
  padding: 20px;
  text-align: left;
}

.hero {
  margin-top: 20px;
  max-width: 70%;
  padding: 5px;
  text-align: left;
}

.hero p {
  font-size: 0.875rem;
  line-height: 1.6;
}

#cursive {
  font-family: cursive;
  color: rgb(155, 105, 31);
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: left;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  background-color: rgb(165, 101, 42);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 0.875rem;
  margin-top: 12px;
  border-radius: 20px;
  padding: 8px;
}

.btn:hover {
  background-color: #6c4618;
  transform: scale(1.05);
}

form {
  font-size: 0.875rem;
  width: 90%;
  max-width: 400px;
  line-height: 1.6;
  margin: 30px auto;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

#form h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

#form p {
  width: 400px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 1.6;
}

form input[type="text"],
form input[type="email"],
form input[type="file"],
form input[type="password"],
form select,
form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
  font-size: 1rem;
}

form input:focus,
form textarea:focus {
  border: 2px solid #ffcd90;
  outline: none;
}

.long-btn {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffda6b;
  color: #3c270b;
}

.long-btn:hover {
  background-color: #e2c262;
}

form label {
  font-size: 0.875rem;
  display: block;
}

select {
  appearance: none;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  background-color: #fffcf4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  height: 100%;
}

.product-card a {
  text-decoration: none;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.product-card h2 {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: #6c4618;
}

.product-card p {
  font-size: 0.875rem;
  color: #333;
}

.product-card .cart-btn {
  font-size: 0.875rem;
  border-radius: 0;
}

.product-detail-page,
.about-page {
  padding: 20px;
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: #fffcf5;
  border-radius: 5px;
}

.product-detail-page p {
  font-size: 0.875rem;
  
}

.about-page h2,
.about-page p,
.about-page ul li {
  text-align: left;
  line-height: 1.6;
}

.products-page {
  padding: 0;
  margin: 20px;
}

.products-page p {
  text-align: center;
}

.product-price {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}

.product-detail-page .cart-btn {
  width: auto;
  padding: 8px 12px;
  display: inline-block;
  max-width: 150px;
}

.product-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  margin-bottom: 5px;
}

.product-item h3 {
  text-align: center;
}

.product-item h3 a {
  font-size: 1rem;
  color: #6c4618;
  font-weight: bold;
  margin: 10px 0 5px 0;
  text-decoration: none;
}

.cart-btn {
  padding: 9px 16px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffda6b;
  border: none;
  color: #3c270b;
  font-size: 0.875rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cart-btn:hover {
  background-color: #e2c262;
}

#detail-btn {
  border: 1px solid #9b6829;
  max-width: 100px;
  margin-bottom: 50px;
}

#product-description {
  font-size: 0.875rem;
  color: #444;
  line-height: 1.6;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

#registration {
  text-align: center;
  font-size: 0.875rem;
}

#registration a {
  text-decoration: none;
  color: #9b6829;
}

.cart-content img {
  max-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.cart-details {
  flex: 1;
  padding: 0;
}

.cart-details form {
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto; 
  max-width: none;
}

.quantity-buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  padding: 0;
}

.qty-btn.small-btn {
  background-color: transparent;
  color: #9b6829;
  border: 1px solid #c4975f;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.qty-btn.small-btn:hover {
  background-color: #f7f3ed;
  color: #6c4618;
}

.remove-action {
  display: block;
  margin: 0;
  padding: 0;
}

.remove-btn {
  background-color: transparent;
  color: #9b6829;
  border: none;
  padding: 3px 6px 3px 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: color 0.3s;
  text-decoration: none;
  text-align: left;
}

.remove-btn:hover {
  color: #6c4618;
  text-decoration: underline;
}

.simple-remove-btn:hover {
  color: #6c4618;
  text-decoration: none;
}

.cart-details h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  text-align: left;
}

.cart-details p {
  font-size: 0.875rem;
  margin: 0.25rem 0;
}

.cart-total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6c4618;
  margin-top: 20px;
  padding-right: 5px;
}

.cart-item-inner {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.cart-img-large {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
  min-width: 120px;
}

.cart-page {
  background-color: #fffcf5;
  padding: 1.5rem;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
  border-radius: 10px;
}

.checkout-button-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background-color: #ffda6b;
  color: #3c270b;
  text-decoration: none;
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e2c262;
}

.checkout-container {
  max-width: 90%;
  margin: 30px auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-form input,
.checkout-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  display: block;
  width: 90%;
  max-width: 150px;
  margin: 25px auto 0 auto;
  background-color: #ffda6b;
  color: #3c270b;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.checkout-form button:hover {
  background-color: #e2c262;
}

#user-orders {
  font-size: 1rem;
  text-align: left;
}

#footer {
  background-color: #fffcf5;
  font-size: 0.875rem;
  padding: 30px 0;
  border-top: 1px solid #c4975f7c;
  margin-top: 70%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  text-align: left;
  margin: 0 20px 30px 20px;
}

.footer-section h4 {
  font-size: 1rem;
  color: #6c4618;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section ul li a {
  color: #272727;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 0.875rem;
}

.footer-section ul li a:hover {
  color: #9b6829;
}

.footer-section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.footer-section input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.875rem;
  width: 100%;
  max-width: 200px;
}

.footer-section button {
  background-color: #e6caa9;
  color: #6c4618;
  border: none;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
}

.footer-section button:hover {
  background-color: #eaddce;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 5px;
}

.social-icons a img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.2);
}

.payment-icons img {
  height: 25px;
  margin: 0 5px;
  opacity: 0.8;
}

.footer-legal p {
  font-size: 0.8125rem;
  color: #555;
  margin: 2px 0;
}

.mini-cart-dropdown {
  position: absolute;
  right: 20px;
  top: 80px;
  width: 250px;
  background: #fffcf5;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mini-cart-dropdown.active {
  display: block;
}

.mini-cart-dropdown p {
  margin: 5px 0;
  font-size: 0.875rem;
}

.cart-item-image {
  width: 40px;
  height: auto;
  object-fit: contain;
  display: block;
}

.mini-cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-item-details {
  flex: 1;
}

@media screen and (min-width: 480px) {
  body {
    background-image: url("../images/background-main2.jpg");
  }

  main {
    margin: 15px;
  }

  .navbar a {
    font-size: 0.95rem
  }

  .logo {
    width: 150px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .hero p {
    font-size: 1rem;
    width: 60%;
  }

  .about-page p,
  .about-page ul li {
    font-size: 1rem;
  }

  #cursive {
    font-size: 1.6rem;
  }

  .products-grid{
    max-width: 1100px;
  }

  .product-detail-page,
  .about-page {
    max-width: 800px;
  }

  .cart-img-large {
    width: 120px;
  }

  form {
    padding: 30px;
  }

  #footer {
    margin-top: 20%;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 110px;
  }

  body {
    padding-top: 120px;
  }

  main {
    margin: 10px;
  }

  .header-container {
    height: 100px;
    justify-content: space-between; 
    align-items: center;
    }

  .menu-toggle {
    display: none;
  }

  .logo {
    width: 180px;
    position: static;
    transform: none;
    order: 1;
  }

  .icons {
    gap: 30px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    gap: 30px;
    padding: 0;
    order: 2;

  }

  .navbar a {
    font-size: 1rem;
    padding: 2px 0;
    text-transform: uppercase;
  }

  .icons {
    gap: 30px;
    order: 3;
  }

  .hero {
    max-width: 900px;
    margin: 20px 0 10px 2%;
  }

  .hero p {
    font-size: 1.125rem;
    max-width: 300px;
  }

  #cursive {
    font-size: 1.75rem;
  }
  
  .btn {
    font-size: 1rem;
    padding: 10px 18px; 
    border-radius: 25px;
  }
  
  .about-page h1 {
    font-size: 1.75rem;
  }
  .about-page h2 {
    font-size: 1.4rem;
  }
  .products-page h2 {
    font-size: 1.4rem;
  }
  .about-page p,
  .about-page ul li {
    font-size: 1rem;
    line-height: 1.6;
  }
  #product-description {
    font-size: 1rem;
  }
  .product-detail-page p {
    font-size: 1rem;

  }

  .cart-item-inner {
    gap: 1.5rem;
  }
  .cart-img-large {
    width: 150px;
  }
  .cart-details {
    min-width: 250px;
  }

  #footer {
    font-size: 1rem;
  }
  .footer-section h4 {
    font-size: 1.125rem;
  }
  .social-icons a img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1024px) {

  .navbar {
    gap: 60px;
  }
  .navbar a {
    font-size: 1.05rem;
  }
  #cursive {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 1.25rem;
    max-width: 500px;
  }
  
  h1 {
    font-size: 1.75rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.125rem; 
    padding: 12px 25px; 
    border-radius: 30px;
  }


  #form p {
    font-size: 1.25rem;
  }
  fieldset {
    font-size: 1.125rem;
  }
  #product-description {
    font-size: 1.25rem;
  }
  .product-detail-page p {
    font-size: 1.25rem;
  }

  .products-page p,
  .about-page ul li {
    font-size: 1.25rem;
  }
  
  .about-page p { 
    font-size: 1.25rem;
  }

  .cart-item {
    max-width: 900px;
  }
  .cart-item-inner {
    gap: 2rem;
  }
  .cart-img-large {
    width: 200px;
  }
  .cart-details {
    min-width: 300px;
  }
  .cart-details p {
    font-size: 1.125rem;
  }
}
